<section class="discourse-polls">
  <article class="polls">
    {{#if @model}}
    <table>
      <colgroup>
        <col>
        <col>
        <col style="width:100px">
        <col style="width:100px">
        <col style="width:120px">
        <col style="width:120px">
        <col style="width:120px">
      </colgroup>
      <thead>
        <th>{{i18n "poll.admin.c_num"}}</th>
        <th>{{i18n "poll.admin.c_title"}}</th>
        <th>{{i18n "poll.admin.c_status"}}</th>
        <th>{{i18n "poll.admin.c_voters"}}</th>
        <th>{{i18n "poll.admin.c_score"}}</th>
        <th>{{i18n "poll.admin.c_created_at"}}</th>
        <th>{{i18n "poll.admin.c_manage"}}</th>
      </thead>
      <tbody>
        {{#each this.polls as |poll|}}
        <tr id={{concat "poll-admin__row-" poll.id}}>
          <td></td>
          <td><a href={{poll.post_url}}>{{poll.post_topic_title}}</a><br>
            {{poll.title}}
          </td>
          <td>{{poll.status}}</td>
          <td>{{poll.voters}}</td>
          <td>{{poll.score}}</td>
          <td>{{this.formatDate poll.created_at}}</td>
          <td style="width: 120px">
            <div class="poll-admin__listitem-action">
              {{!-- {{i18n "poll.admin.edit"}} --}}
              {{!-- <LinkTo
                    @route="adminPlugins.show.discourse-gamification-leaderboards.show"
                    @model={{poll}}
                    class="btn leaderboard-admin__edit btn-text btn-small"
                  >{{i18n "gamification.edit"}} </LinkTo> --}}
              {{!-- <DButton class="btn-small poll-admin__delete btn-danger" @icon="trash-alt" @title="poll.admin.delete"
                @action={{action "destroyPoll" poll}} /> --}}
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
    {{#unless creatingNew}}
    <div class="admin-plugin-config-area__empty-list">
      {{i18n "poll.admin.none"}}
      <DButton @label="poll.admin.cta" class="btn-default btn-small poll-admin__cta-new"
        {{!-- @action={{action (mut creatingNew) true}}  --}}
        @action={{action "createNew"}}
      />
    </div>
    {{/unless}}
    {{/if}}

    <div class="pagination">
      {{#each this.paginationRange as |page|}}
        <button
          class="pagination-button {{if (eq page this.currentPage) 'active'}}"
          {{on "click" (fn this.loadPage page)}}
          disabled={{this.isLoading}}
        >
          {{page}}
        </button>
      {{/each}}
    </div>
  </article>
</section>
